<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Categorías</title>
    <link rel="stylesheet" href="../static/css/styles.css"> <!-- Asegúrate de tener tu CSS separado -->
</head>
<body>
    <h1>Gestión de Categorías</h1>

    <form id="categoriaForm">
        <input type="hidden" id="categoriaId" value="">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" required placeholder="Ingrese el nombre">
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" required placeholder="Ingrese la descripción">
        <button type="submit">Guardar Categoría</button>
    </form>

    <div class="category-list">
        <h2>Lista de Categorías</h2>
        <div id="categorias"></div>
    </div>

    <script src="../static/js/scripts.js"></script> <!-- Incluyendo el JavaScript externo -->
</body>
</html>
