/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../../Img/Logo.jpg'); /* Fondo de imagen */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #2c3e50;
}

h1 {
    background: rgba(0, 0, 0, 0.5); /* Fondo del título con semitransparencia */
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0;
    border-bottom: 2px solid #28a745;
    font-size: 36px;
}

/* Contenedor principal */
.container {
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    padding: 20px;
    max-width: 1200px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Estilos para el formulario */
.form-container {
    background: rgba(255, 255, 255, 0.8); /* Fondo más claro */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #28a745; /* Botón verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #218838; /* Efecto hover */
}


